<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Equib Group</title>
</head>
<body>
    <h1>Create New Group</h1>
    <form th:action="@{/save-group}" th:object="${group}" method="post">
        <label for="name">Group Name:</label><br>
        <input type="text" id="name" th:field="*{name}" required><br><br>

        <label for="contributionAmount">Contribution Amount:</label><br>
        <input type="number" id="contributionAmount" th:field="*{contributionAmount}" required><br><br>

        <button type="submit">Create Group</button>
    </form>
</body>
</html>